.home-container {
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.home-content {
  flex: 1;
}

.posts-container {
  background-color: #ffffff;
}

.posts-loading,
.posts-empty {
  padding: 40px;
  text-align: center;
  color: #8e8e8e;
}
